LAN_AIO_AGENT_SECRET_TOKEN=replace-with-cloud-prod-agent-token
LAN_AIO_MINIO_ENDPOINT=replace-with-cloud-prod-user-data-endpoint
LAN_AIO_MINIO_ACCESS_KEY=replace-with-cloud-prod-user-data-access-key
LAN_AIO_MINIO_SECRET_KEY=replace-with-cloud-prod-user-data-secret-key
LAN_MODEL_CACHE_ACCESS_KEY=replace-with-lan-model-cache-access-key
LAN_MODEL_CACHE_SECRET_KEY=replace-with-lan-model-cache-secret-key
