python-telegram-bot[socks,job-queue]==22.8
httpx[socks]
python-dotenv
sqlalchemy
aiosqlite
minio
asyncpg
psycopg2-binary
fastapi
uvicorn
pydantic
pytoniq-core
aiohttp
redis
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sse-starlette
boto3
Pillow
asgi-correlation-id>=4.3.1
asgi_correlation_id
bcrypt==4.1.2
fastapi-cache2
jinja2
