Host allbot-gpu-226 gpu-226
    HostName 192.168.1.226
    User ubantu
    IdentityFile /run/secrets/lan_gpu_ops_key
    IdentitiesOnly yes

Host allbot-gpu-177 gpu-177
    HostName 192.168.1.177
    User ubantui
    IdentityFile /run/secrets/lan_gpu_ops_key
    IdentitiesOnly yes

Host allbot-gpu-252 gpu-252
    HostName 192.168.1.252
    User user
    IdentityFile /run/secrets/lan_gpu_ops_key
    IdentitiesOnly yes

Host allbot-gpu-002 gpu-002
    HostName 192.168.1.2
    User chuzeyu
    IdentityFile /run/secrets/lan_gpu_ops_key
    IdentitiesOnly yes

Host *
    BatchMode yes
    ConnectTimeout 10
    ServerAliveInterval 15
    ServerAliveCountMax 2
    StrictHostKeyChecking accept-new
    UserKnownHostsFile /run/secrets/known_hosts
